<div class="row mt-5">
  <div class="col-12">
    <p class="text-subtitle" [translate]="'CoursesLocal.Modal.Step3.Details'"></p>
    <div class="row">
      <div *ngIf="useDigitalSignature" class="col-md-4 col-xs-12 font-weight-bold" [translate]="'CoursesLocal.Modal.Step3.DigitalSignature'"></div>
      <div *ngIf="!useDigitalSignature" class="col-md-4 col-xs-12 font-weight-bold" [translate]="'CoursesLocal.Grading'"></div>
      <div class="col-md-8 col-xs-12">
        <div *ngIf="resultsOfSubmission?.object?.validationResult?.success">
          <span [translate]="'CoursesLocal.Modal.Step3.SuccessfullyCompleted'"></span><i class="fa fa-check pl-2 success-color fs20"></i>
        </div>
        <div *ngIf="!resultsOfSubmission?.object?.validationResult?.success">
          <span class="unsuccess-color" [translate]="'CoursesLocal.Modal.Step3.NotCompleted'"></span>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4 col-xs-12 font-weight-bold" [translate]="'CoursesLocal.Modal.Step3.FinalSubmission'"></div>
      <div class="col-md-8 col-xs-12">
        <div *ngIf="message">
          <span>{{message}}</span><i class="fa fa-check pl-2 success-color fs20"></i>
        </div>
        <div *ngIf="errorMessage">
          <span class="unsuccess-color">{{errorMessage}}</span>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12">
    <p class="text-subtitle" [translate]="'CoursesLocal.Modal.Step3.Proof'"></p>
    <div class="row">
      <div class="col-md-4 col-xs-12 font-weight-bold" [translate]="'CoursesLocal.Modal.Step3.UploadNumber'">
      </div>
      <div class="col-md-8 col-xs-12">
        <span>{{resultsOfSubmission?.additionalResult?.id}}</span>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4 col-xs-12 font-weight-bold" [translate]="'CoursesLocal.Modal.Step3.DateSubmission'">
      </div>
      <div class="col-md-8 col-xs-12">
        <span>{{ resultsOfSubmission?.dateModified | localizedDate:'short' }}</span>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4 col-xs-12 font-weight-bold" [translate]="'CoursesLocal.Modal.Step3.PrintProof'"></div>
      <div class="col-md-8 col-xs-12">
        <span *ngIf="resultsOfSubmission?.object?.validationResult?.success"><span [translate]="'CoursesLocal.Modal.Step3.PrintProofDescription'"></span></span>
      </div>
    </div>
  </div>
</div>
